################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/webrtc/.vs/webrtc
/webrtc/
/webrtc/Debug
/webrtc/webrtc/Debug
/webrtc/webrtc/x64/Debug
/webrtc/x64/Debug
